<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net40" />
  <package id="DayPilot" version="5.0.303" targetFramework="net40" />
  <package id="esendex-dotnet-sdk" version="3.8.0" targetFramework="net40" />
  <package id="jQuery" version="3.5.1" targetFramework="net40" />
  <package id="JWT" version="7.2.1" targetFramework="net40" />
  <package id="KendoUIWeb" version="2014.1.318" targetFramework="net40" />
  <package id="Microsoft.ApplicationBlocks.Data" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="TelerikMvcExtensions" version="2013.2.611" targetFramework="net40" />
  <package id="Twilio" version="5.45.2" targetFramework="net40" />
  <package id="WebUI" version="1.0.6.1" targetFramework="net40" />
</packages>